@model PizzaBoxWeb.Models.StoreViewModel


@{
    ViewData["Title"] = "Login";
}


<h4>Please Enter Your Store Login Credentials Below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*@Html.BeginForm("Login","Store",FormMethod.Post,antiforgery:true)*@
        <form asp-action="LoginAttempt" asp-controller="Store">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Storename" class="control-label"></label>
                <input asp-for="Storename" class="form-control" />
                <span asp-validation-for="Storename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorePassword" class="control-label"></label>
                <input asp-for="StorePassword" type ="password" class="form-control" />
                <span asp-validation-for="StorePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

