@model PizzaBoxWeb.Models.PizzaUserViewModel

@{
    ViewData["Title"] = "SignUp";
}


<h4 class="text-center">UserSignUp</h4>
<hr />

<div class="row text-center">
    <div class="col justify-content-md-center">
        @*@Html.BeginForm("Create","PizzaUser",FormMethod.Post,antiforgery:true)*@
        <form asp-action="create" asp-controller="PizzaUser" class="text-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="Username" class="control-label">Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group col">

                    <label asp-for="UserPassword" class="control-label">Password</label>
                    <input asp-for="UserPassword" type="password" class="form-control" />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col">
                    <label asp-for="FirstName" class="control-label"> First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="LastName"  class="control-label"> Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label asp-for="Cell" class="control-label">Cell Phone Number</label>
                    <input asp-for="Cell" class="form-control" />
                    <span asp-validation-for="Cell" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="UserAddress" class="control-label">Address</label>
                    <input asp-for="UserAddress" class="form-control" />
                    <span asp-validation-for="UserAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Account" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Homepage :(</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
